.scroll-container {
  max-height: 85vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}

.blog-entries-edit {
  display: flex;
  justify-content: center;
}

.blog-entry-edit {
  margin: 20px 0; /* Center entries within the panel */
  padding: 20px; /* Increased padding for better spacing */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  color: #ffffff; /* Ensure text is readable */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  width: 70vw; /* Ensure entries take the full width of the panel */
}

.blogtitle {
  text-decoration: none;
  color: #001b32;
  margin: 0;
  display: inline;
}

.blog-entry-edit p {
  color: #001b32;
}

.blog-entry-edit h4 {
  margin: 0;
  font-size: 0.9rem;
  color: #001b32;
  display: inline;
}

ul {
  list-style-type: none;
}

.blog-entry-edit img {
  max-width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
}
.edit-btn{
  background-color: rgba(0, 140, 255, 0.692);
  margin: 10px;
}
.delete-btn{
  background-color: red;
}
.editable{
  background-color: #fff;
  color: black;
  border: 0px;
}
.spin{
  display: flex;
  align-items: center;
  justify-content: center;

}
@media (max-width: 768px) {
  .blog-entry-edit img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
}